.menybar h2 a, .menybar h2 a:visited {
    text-decoration: none;
    color: rgb(134, 99, 0);
    border: 2px solid rgb(134, 99, 0);
    padding: 5px 10px;
    border-radius: 5px;
}
.menybar h2 a:hover {
    text-decoration: underline;
    color: brown;
    border-color: brown;
}

.menybar {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}
.hovedtittel {
    display: flex;
    justify-content: center;
    color: black;
}
h1 a, h1 a:visited {
    text-decoration: none;
    color: rgb(82, 65, 19);
}
h1 a:hover {
    text-decoration: underline;
    color: orangered;
}
body {
    background-color: burlywood;
    font-family: sans-serif, Arial, Helvetica;
}

#adresse {
    text-align: center;

    background-color: cadetblue;
}

.leggtil {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
}

.pnavn {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;

}

.produktbilder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.antall {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.antalltekst {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.kamera {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.lyssensor {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.aircondition {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.bilalarm {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-columns: 16fr;
    padding-top: 7%;
    margin-right: 5%;
    margin-left: 5%;
}

.tablecontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 20%;
}


table, th, td {
    border: 1px solid;
    width: 200px;
    border-collapse: collapse;
}


button {
    padding: 12px 28px;
}

