*,*::before,*::after{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: burlywood;
    font-family: sans-serif, Arial, Helvetica;
}

.menybar {
    display: flex;
    justify-content: space-evenly;
}

#headerpicture {
    background-image: url(assets/header.jpg);
    padding-top: 100px;
    background-size: cover;
}
