body {
    background-color: burlywood;
}

.menybar {
    display: flex;
    justify-content: space-evenly;
}

#headerpicture {
    background-image: url(assets/header.jpg);
    padding-top: 100px;
    background-size: cover;
}

/*---------Kontor---------------------------------------------------------*/
html, body, center{
    height: 100%;
}
#innhold_k{
    
    border: solid #55544E;
    border-width: 2px;
    background-color: #FEFFFA;
    width: 65%;
    height: 80%;
    box-sizing: border-box;
}
#valgt_meny{
    border: solid #55544E;
    border-width: 2px;
    background-color: #FEFFFA;
    font-weight: 700;
    font-size: 25px;
    width: 20%;
    border-bottom: none;
    border-top: none;

}
#top_box{
    border: solid #55544E;
    border-width: 2px;
    width: 64.8%;
    position: relative;
    background-color: #a8a6a7;
    top: 2px;
}
#handlevogn{
    background-color: #FEFFFA;
    position: relative;
    border: solid #55544E;
    border-width: 2px;
    width: 270px;
    margin-left: auto;
    bottom: 744.8px;
    right: 20px;
}
#banner_handlevogn{
    width: inherit;
    background-color: #a8a6a7;
    border-bottom: solid #55544E;
    border-width: 2px;
}
#handlevogn_title{
    width: 50%;
    background-color: #FEFFFA;
    border: solid #55544E;
    border-bottom: none;
    border-top: none;
    border-width: 2px;
}
#txtInputs{
    position: relative;
    border: solid;
    border-width: 2px;
    width: 50%;
    margin-right: auto;
    left: 20px;
}
#vare{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: auto;
    border: solid #55544E;
    border-width: 2px;
    right: 20px;
    width: 40%;
    height: 20%;
}
#img_produkt{
    border: solid;
    border-width: 2px;
    max-width: 100%;
    height: auto
}
/*------------------------------------------------------------------------*/
