/*---------[Kontor]---------------------------------------------------------*/
html, body, center,form{
    height: 100%;
}
#outerLayer_k{
    border: solid #55544E;
    border-width: 2px;
    background-color: #FEFFFA;
    width: 65%;
    height: 80%;
    box-sizing: border-box;
}
#innerLayer_k{
    display: flex;
    flex-direction: row;
}
#main{
    height: 80%;
}
#valgt_meny{
    border: solid #55544E;
    border-width: 2px;
    background-color: #FEFFFA;
    font-weight: 700;
    font-size: 25px;
    width: 20%;
    border-bottom: none;
    border-top: none;

}
#top_box{
    border: solid #55544E;
    border-width: 2px;
    width: 64.8%;
    position: relative;
    background-color: #a8a6a7;
    top: 2px;
}
#handlevogn{
    background-color: #FEFFFA;
    position: relative;
    border: solid #55544E;
    border-width: 2px;
    width: 270px;
    margin-left: auto;
    bottom: 744.8px;
    right: 20px;
}
#banner_handlevogn{
    width: inherit;
    background-color: #a8a6a7;
    border-bottom: solid #55544E;
    border-width: 2px;
}
#handlevogn_title{
    width: 50%;
    background-color: #FEFFFA;
    border: solid #55544E;
    border-bottom: none;
    border-top: none;
    border-width: 2px;
}
#txtInputs{
    position: relative;
    width: 50%;
    margin-right: auto;
    left: 20px;
}
#vare{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    right: 20px;
    width: 40%;
    height: 20%;
}
#img_produkt{
    max-width: 100%;
    height: 10%;
}
h3{
    font-size: 20px;
}
.select{
    height: 35px;
    width: auto;
    font-size: 18px;
    font-family: calibri,arial,monospace;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}
#btnS_k{
    display: flex;
    position: relative;
    width: 11.5%;
    margin-top: 8%;
    justify-content: space-between;
    white-space: nowrap;
}
.btn_k{
    display: inline;
    height: auto;
    width: auto;
    border-width: 1px;
    font-size: 18px;
    font-family: calibri,arial,monospace;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    border-radius: 4px;
    cursor: pointer;
}
/*------------------------------------------------------------------------*/
.menybar h2 a, .menybar h2 a:visited {
    text-decoration: none;
    color: rgb(134, 99, 0);
    border: 2px solid rgb(134, 99, 0);
    padding: 5px 10px;
    border-radius: 5px;
}
.menybar h2 a:hover {
    text-decoration: underline;
    color: brown;
    border-color: brown;
}

.menybar {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}
.hovedtittel {
    display: flex;
    justify-content: center;
    color: black;
}
h1 a, h1 a:visited {
    text-decoration: none;
    color: rgb(82, 65, 19);
}
h1 a:hover {
    text-decoration: underline;
    color: orangered;
}
